h1{
    color: blueviolet;
    text-align: center;
    font-family: "courier new";
}
h2{
    color: blue;
    text-align: center;
    font-family: "courier new";
}
li{
    color: blue;
    text-align: left;
}

p{
    color: red;
    text-align: center;
    font-size: xx-large;
    font: bolder;
}