h1{
    color:purple;
    text-align: center;
    font-family: "courier new";
}
h2{
    color: orange;
    text-align: center;
    font-family: "courier new";
}
li{
    color: blue;
    text-align: left;
}